.transaction {
    margin: 0 auto;
    margin-bottom: 50px;
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    border-spacing: 0;
    border-collapse: collapse;
}

.table {
    background-color: aquamarine;
}

.header {
    text-align: center;
}

.headerItem {
    padding: 10px;
    width: 200px;
    border: 1px solid black;
}

.tableBody {
    background-color: white;
}

.tableData {
    width: 100%;
}

.tableData:nth-child(2n) {
    background-color: coral;
}

.tableItem {
    text-align: start;
    text-transform: capitalize;
    padding-left: calc(10%);
    border: 1px solid black;
}

.tableItem:not(:first-child) {
    text-align: center;
    padding: 10px 0;
}